@charset "UTF-8";
	
.formEntrar{
	text-align:left;	
	width: 300px;
	margin: auto;
}

.formEntrarCampos{
	width: 300px;
	font-size:18px;	
}

.formNoticia{
	text-align:left;
	width: 600px;
	margin: auto;	
}

.Botao{
	font-size:18px;
	border: none;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 15px;
}

.formTitulo{
	width: 600px;
	font-size:18px;	
}

.formTexto{
	width: 600px;
	height: 400px;
	font-size: 18px;		
}


/* Estilo da PESQUISA */
	
	.DivPesquisa
	{	
		margin-top: 50px;
		margin-bottom: 50px;
		margin-right: 50px;
		margin-left: 20px;
		float: right;
			
	}
	
	.CampoPesquisa 
	{
		width: 400px;
		height: 40px;
		border: none;
		font-size: 16px;
		padding-left: 10px;
		padding-right: 10px;
		margin-right: 20px;
	}
	
	.BotaoPesquisa
	{
		text-align: center;
		width: 100px;
		height: 40px;
		border: none;
		background-color: #09F;
		font-size: 16px;
		color: #FFF;
	}

/* Imagens */
	
	.ImagemCabecalho
	{
		width: 400px;
		height: 120px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 50px;
		float: left;
	}

/* Estilo GERAL */

	body 
	{
		margin: 0px;
		left: 0;
		top: 0;
		font-family: Lucida, sans-serif;
		letter-spacing: 1px;
	}
	
	.MenuSuperior
	{
		background-color: #333;
		height: 140px;
		width: 100%;
		margin: auto;
	}
	
	.Rodape
	{
		bottom: 0;
		clear: both;
		background-color: #09F;
		width: 100%;
		margin: auto;
		padding-top: 70px;
	}
	
	.RodapeTexto
	{
		color: #FFF;
		border: none;
		padding-bottom: 5px;
		font-size:9px;
		width: 1000px;
		margin: auto;
		text-align:center;
	}
	
	.TelaPrincipal
	{
		background-color:#FFF;
		width: 100%;
		margin: auto;
		margin-top: 20px;
		clear: both;
	}
	
	.Facebook 
	{
		clear: both;
		text-align: center;
		width: 1000;
		margin: auto;
		padding-bottom: 20px;
	}
	
	.Adsense
	{
		width: 1000;
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.ConteudoPrincipal
	{
		width: 1110;
		margin: auto;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.AnimeDescricao
	{
		float: right; 
		width: 785px;
		padding-left: 15px;
		padding-right: 10px;
		font-size: 15px;
		margin-bottom: 20px;
	}
	
	.AnimeImage
	{
		float: left;	
		width: 300px;
	}
	
	.AnimeEpisodio
	{
		padding-top: 8px;
		margin-top: 10px;
		margin-bottom: 20px;
		clear:both;
		width: 1000px;
		text-align: left;
		margin: auto;
	}

	.AnimeEpisodioQuadro
	{
		margin-right: 5px;
		margin-left: 5px;
		margin-bottom: 10px;
		text-align: right;
		background:	#FFF;
		font-weight: bold;
		font-size: 14px;
		padding-top: 4px;
		padding-bottom: 4px;
		float: left;	
	}
	
	.EpisodioAtual
	{
		width: 640px;
		float: left;	
	}
	
	.EpisodioOutro
	{
		padding-top: 70px;
		width: 460px;	
		float: right;
	}
	
	
	.EpisodioLista
	{
		width:112px;
		margin-bottom: 10px;
		text-align: left;
		background:	#FFF;
		font-weight: bold;
		font-size: 14px;
		padding-top: 4px;
		padding-bottom: 4px;
		float: left;	
	}
	
	.LinkClaro
	{
		color: #FFF;
	}
	
	.LinkClaroGrande
	{
		color: #FFF;
		font-size: 14px;
	}
	
	.LinkClaroPequeno
	{
		color: #FFF;
		font-size:10px;
	}
	.LinkEscuro
	{
		color: #333;
	}
	
	.LinkEscuroGrande
	{
		color: #333;
		font-size: 14px;
	}
	
	.LinkEscuroPequeno
	{
		color: #333;
		font-size:10px;
	}
	
	.Image300
	{
		width: 300px;	
	}
	
	.DivMeio
	{
		width: 1000;
		margin: auto;	
	}
	
	.VideoMeio
	{
		width: 300px;
		height: 220px;
		margin: auto;
	}
	
	.VideoTitulo
	{
		padding-left:25px;
		padding-right:10px;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align:justify;
	}
	
	.VideoBox {
		color: #FFF;
		background-color: #313131;	
		width: 350px;
		margin-top: 20px;
		margin-left: 13px;
		padding-bottom: 10px;
		box-shadow: 0px 0px 1px #333;
		border-radius: 50 0 50 0;
		position: relative;
		float: left;
		text-align: left;
		border-width: 3px;
		border-style: solid;
		border-color: #09F;
	}
	
	.Paginacao
	{
		clear:both;	
		text-align:center;
		padding-top: 50px;
	}
		
