@charset "UTF-8";

Body {
	margin: 0px;
	font-family: Helvetica Neue,helvetica,Arial,sans-serif;
}
	
.Geral{
	padding-bottom: 30px;
	width: 100%;
	margin: auto;
}

.logo{
	background-color: #242424;
	background-image: url(../images/animebox.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 140px;
	width: 100%;
	margin: auto;
}

.central{
	background-color:#FFF;
	padding-top:20px;
	width: 100%;
	margin: auto;
}

.formEntrar{
	text-align:left;	
	width: 300px;
	margin: auto;
}

.formEntrarCampos{
	width: 300px;
	font-size:18px;	
}

.formNoticia{
	text-align:left;
	width: 600px;
	margin: auto;	
}

.Botao{
	font-size:18px;
	border: none;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 15px;
}

.principal {
	 width: 80%;
	 margin: auto;
	 text-align:center;
}

.menuPrincipal {
	 width: 80%;
	 margin: auto;
	 text-align: center;
}

a, href{
	padding-right: 5px;
	padding-left: 5px;
	border:none; 
	color: #333;	
}


.formTitulo{
	width: 600px;
	font-size:18px;	
}

.formTexto{
	width: 600px;
	height: 400px;
	font-size: 18px;		
}

td {
	text-align:left;
	padding-left: 20px;	
	padding-right: 20px;	
	padding-top: 5px;
}

.noticias {
	 width: 1200px;
	 margin: auto;
	 background:#FFFFFF;
}

text {
	text-align:left;	
}

.alinhaMeio {
	width: 300px;
	height: 220px;
	margin: auto;
}

.noticiasquadro {
	
}

.noticiaBox {
	background-color: #FFF;	
	width: 320px;
	height: 290px;
	margin-top: 20px;
	margin-left: 50px;
	padding: 5px;
	box-shadow: 0px 0px 1px #333;
	color: #333;
	position: relative;
	float: left;
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: #333;
}

.clear {
 	text-align:center;
 	clear:both; 
}

.paginas {
	width: 1200px;
	margin: auto;
	font-weight: bold;
	color: #333;
}

.propaganda {
	width: 970;
	height: 95;
	margin: auto;
}

iframe {
	width: 1000;
	margin: auto;
}