@charset "UTF-8";

Body {
	margin: 0px;
	font-family: Helvetica Neue,helvetica,Arial,sans-serif;
}
	
.Geral{
	padding-bottom: 50px;
	width: 100%;
	margin: auto;
}


.MenuSuperior{
	background-color: #333;
	right: 0;
	left: 0;
	top: 0;
	height: 40px;
	position: fixed;
	color: #fff;
	font-size:12px;
	text-align: center;
}


.logo{
	background-color: #333;
	background-image: url(../images/animebox.png);
	background-position: center;
	background-repeat: no-repeat;
	height: 120px;
	width: 100%;
	margin: auto;
	
}

.central{
	background-color:#FFF;
	padding-top:20px;
	width: 100%;
	margin: auto;
}

.formEntrar{
	text-align:left;	
	width: 300px;
	margin: auto;
}

.formEntrarCampos{
	width: 300px;
	font-size:18px;	
}

.formNoticia{
	text-align:left;
	width: 600px;
	margin: auto;	
}

.Botao{
	font-size:18px;
	border: none;
	width: 100%;
	background-color: #333;
	color: #fff;
	padding: 15px;
}

.principal {
	 width: 80%;
	 margin: auto;
	 text-align:center;
}

.menuPrincipal {
	 width: 80%;
	 margin: auto;
	 text-align: center;
}

a, href{
	padding-right: 5px;
	padding-left: 5px;
	border:none; 
	color: #333;	
}


.formTitulo{
	width: 600px;
	font-size:18px;	
}

.formTexto{
	width: 600px;
	height: 400px;
	font-size: 18px;		
}

td {
	text-align:left;
	padding-left: 20px;	
	padding-right: 20px;	
	padding-top: 5px;
}

.noticias {
	 width: 1200px;
	 margin: auto;
	 background:#FFFFFF;
}

text {
	text-align:left;	
}

.alinhaMeio {
	width: 300px;
	height: 220px;
	margin: auto;
}

.noticiasquadro {
	
}

.noticiaBox {
	background-color: #09F;	
	width:	320px;
	height: 290px;
	margin: 20px;
	padding: 10px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 1px 1px 10px #333;
	color: #fff;
	position: relative;
	float: left;
}

.clear {
 text-align:center;
 clear:both; 
}